---
layout: default
---

<main id="main" style="margin: 0 auto; --main-width: 100ch;">
  <h1 class="slogan" style="margin-top: 1rem;">
    <%= site.metadata.greeting %>
  </h1>

  <p class="slogan" style="font-size: 1.35rem;">
    <%= site.metadata.slogan %>
  </p>

  <figure class="hero">
    <div style="--aspect-ratio: 16/9">
      <img src="/images/home-hero-half.jpg" width="1190" height="745" style="filter: hue-rotate(310deg); border-radius: 32px;">
    </div>
    <figcaption class="hero__caption">
      <cite>
        <a
          href="https://wallpapers.com/wallpapers/aesthetic-pixel-art-garden-at-night-0ax4fopcqzot21lj.html"
          class="link--small"
          rel="nofollow"
          target="_blank"
        >
          Aesthetic Pixel Art Garden At Night Wallpaper
          <%= render ExternalLinkIcon.new %>
        </a>
      </cite>

      from

      <cite>
        <a
          href="https://wallpapers.com/"
          class="link--small"
          rel="nofollow noopener noreferrer"
          target="_blank"
        >
        wallpapers.com <%= render ExternalLinkIcon.new -%></a>
      </cite>

      with a hue-rotation applied and licensed under

      <a
        href="https://creativecommons.org/licenses/by/2.0/"
        class="link--small"
        rel="nofollow noopener noreferrer"
        target="_blank"
        style="margin-inline-end: -0.5rem;"
      >
        Creative Commons 2.0
        <%= render ExternalLinkIcon.new %>
      </a>
    </figcaption>
  </figure>

  <ul class="main-list">
    <% site.metadata.nav_links.reject { |i| i[:text] == "Home" }.each do |item| %>
      <li class="main-list__item">
        <a href="<%= item[:href] %>" class="main-list__link">
          <%= item[:text] %>
        </a>
      </li>
    <% end %>
  </ul>
</main>


