---
layout: page
title: Info
---

<% site.metadata.contact_info.each do |item| %>
  <section class="contact-section">
    <h2 id="<%= item[:title].downcase %>" class="contact__title">
      <a class="contact__link" href='#<%= item[:title].downcase %>'><%= item[:title] %></a>
    </h2>
    <p style="margin-top: 1rem;">
      <a
        class="link__flex link--large"
        style=""
        href='<%= item[:href] %>'
      >
        <sl-icon style="font-size: 1.2em;" name="<%= item[:icon] %>">
        </sl-icon>

        <%= item[:text] %>

        <% if item[:external] %>
          <%= render ExternalLinkIcon.new %>
        <% end %>
      </a>
    </p>
  </section>
<% end %>

